<section class="container">
    <div class="scanDetails">
      <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor tempus, cursus sed ut arcu vitae nisi</p>
      <p class="subTitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor tempus, cursus sed ut arcu vitae nisi</p>
      <div class="buttonContainer">
        <div class="button" (click)="startScan()">
          <p>Start Scan</p>
        </div>
        <div class="button" (click)="handleLineageNavigation()">
          <p>View Graph</p>
        </div>
      </div>
    </div>
    <img src="assets/MaskGroup.png" width="734" height="943">
</section>
