<section class="container" [ngClass]="{'details': !shouldShowGraph}">
    <div class="scanDetails"  *ngIf="!shouldShowGraph">
      <p class="title">Use PowerB Eye to generate a 3D visualization of all the content and workspaces in your tenant and the connections between them.</p>
      <p class="subTitle">Start by scanning the tenant. Then, select 'Show visualization' to open the file and display the 3D visual.</p>
      <div class="buttonContainer">
        <div class="scanButton" (click)="startScan()" *ngIf="!isScanTenantInProgress">
          <p>Scan tenant</p>
        </div>
        <mat-spinner class="spinner" *ngIf="isScanTenantInProgress"></mat-spinner>
        <div class="visButton" (click)="onAddFile()">
          <p>Show visualization</p>
        </div>
      </div>
    </div>
    <img class="imageGraph" src="assets/MaskGroup.png" *ngIf="!shouldShowGraph">
    <div id="3d-graph"></div>
</section>
<input hidden type="file" #filesInput (change)="onFileAdded()" multiple>
