<section class="container" [ngClass]="{'details': !shouldShowGraph}">
  <div class="scanDetails" *ngIf="!shouldShowGraph">
    <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor tempus, cursus sed ut arcu vitae nisi</p>
    <p class="subTitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor tempus, cursus sed ut arcu vitae nisi</p>
    <div class="buttonContainer">
      <div class="button" (click)="onAddFile()">
        <p>Upload File</p>
      </div>
    </div>
  </div>
  <img src="assets/MaskGroup.png" width="734" height="943" *ngIf="!shouldShowGraph">
  <div id="3d-graph"></div>
</section>
<input hidden type="file" #filesInput (change)="onFileAdded()" multiple>
