@toolBarHeight: 64px;

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1F233E;

  mat-toolbar {
    background-color: #1F233E;
  }

  .title {
    margin-left: 4px;
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }

  .containerRoute {
    height: -moz-calc(100% - @toolBarHeight); /* Firefox */
    height: -webkit-calc(100% - @toolBarHeight); /* Chrome, Safari */
    height: calc(100% - @toolBarHeight); /* IE9+ and future browsers */
    width: 100%;
  }

  .powerbeye {
    margin-left: 12px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
  }
}

