<mat-toolbar color="primary">
    <span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="handleHomeNavigation()">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item (click)="handleLineageNavigation()">
          <mat-icon>graphic_eq</mat-icon>
          <span>Graph</span>
        </button>
      </mat-menu>
    </span>
    <span class="powerbeye">PowerBEye</span>
</mat-toolbar>
<section class="containerRoute">
  <router-outlet></router-outlet>
</section>
